<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-img
        [alt]="character.name"
        [src]="character.img">
      </ion-img>
  </ion-card>
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        {{ 'comics.available'| translate }}
      </ion-label>
      <ion-label slot="end">{{ character.comics }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ 'series.available'| translate }}
      </ion-label>
      <ion-label slot="end">{{ character.series }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ 'stories.available'| translate }}
      </ion-label>
      <ion-label slot="end">{{ character.stories }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
